{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="content">
    <h1>Hello, this is our content!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laboriosam doloribus esse iste quidem obcaecati in assumenda voluptatum vitae, expedita consequatur voluptates modi voluptate voluptas voluptatibus dolorum quisquam blanditiis consectetur?</p>
    <p>Repellendus, quis sint. Tempore numquam iste, totam quidem repudiandae mollitia debitis officia enim ex corporis sequi voluptates esse eaque atque dolorum iusto ipsa similique suscipit corrupti voluptatum dicta ea natus.</p>
    <p>Sunt aspernatur reprehenderit excepturi expedita non, earum quidem laborum eligendi iste iusto! Voluptatum magni officia velit quaerat eveniet illum modi accusamus dolores tempora quos temporibus iusto nihil reprehenderit, quia nisi!</p>
    <p>Laboriosam culpa quod obcaecati voluptatibus, nostrum non, ipsum perspiciatis magni numquam quibusdam nulla, ipsam expedita quos! Dolorum ratione dignissimos accusantium unde est error totam distinctio quis, officiis impedit nam. Earum?</p>
</div>

{{ partial "footer.html" . }}
